.yqy__overview
    margin 2rem 0
    display flex
    flex-flow row nowrap
    justify-content center
    align-items flex-start
    width 100%
    height 500px
    .yqy__pie-chart
        height 100%
        flex-basis 30%
    .yqy__chart-container
        height 100%
        flex-basis 60%
        margin 8px
        .yqy__scatter-chart
            background-color white
            width 100%
            transition all 0.3s ease-out
            box-shadow none
            height 0
            margin 0
            padding 0
            overflow hidden
            &.active
                box-shadow 0 0 2px 2px rgba(0, 0, 0, .16)
                margin 8px
                padding 8px
                height 400px
            & > div
                height 400px
    .controls
        display flex
        flex-flow row wrap
        align-items center

.yqy__detail-layout
    padding 2rem
    display flex
    flex-flow row nowrap
    .yqy__scatter-chart
        width 80%
        & > *
            height 400px
    .yqy__controls
        display flex
        flex-flow column nowrap
        align-items center
        .yqy__controls__names
            max-height 400px
            overflow-y auto
            padding-left 8px
            list-style none
            li
                cursor default
                padding 4px
                margin 8px
                &:hover
                    color white
                    background #999
